In [2]:

'''Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2]'''













import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame({'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [9]:
print(df.iloc[1,:])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
print(df.loc[1,:])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [12]:
#q2

'''The loc function is used to access a group of rows and columns by label(s) or a boolean array in 
the dataframe, while the iloc function is used to access a group of rows and columns by integer 
position(s) in the dataframe. In other words, loc uses label-based indexing and iloc uses
integer-based indexing.'''

#q3
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [14]:
print(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [17]:
print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
'''Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’'''


import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
# (i) Mean of each and every column:
mean_values = df1.mean()
print("Mean values of columns:\n", mean_values)

# (ii) Standard deviation of column, 'column_2':
std_dev = df1['column_2'].std()
print("Standard deviation of column 'column_2':", std_dev)

Mean values of columns:
 column_1    0.390832
column_2    0.580335
column_3    0.349772
column_4    0.524338
column_5    0.521668
column_6    0.715514
dtype: float64
Standard deviation of column 'column_2': 0.25891920415155706

In [ ]:
'''Q6. What do you understand about the windows function in pandas and list the types of windows
functions?'''

'''In pandas, a window function is a way to perform calculations on a subset of data points within 
a defined window or range. It is useful for performing rolling calculations, such as 
moving averages or cumulative sums, and can be used in combination with groupby operations
to perform calculations within groups of data.'''

In [19]:
from datetime import datetime

# Get the current month and year
now = datetime.now()
current_month = now.strftime("%B")
current_year = now.strftime("%Y")

# Print the current month and year
print(f"Current month and year: {current_month} {current_year}")

Current month and year: March 2023

In [ ]:
'''Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.'''

In [20]:
import pandas as pd

# Prompt the user to enter the dates
date1_str = input("Enter first date (YYYY-MM-DD): ")
date2_str = input("Enter second date (YYYY-MM-DD): ")

# Convert the input strings to datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the difference between the dates
delta = date2 - date1

# Extract the days, hours, and minutes from the delta object
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

# Display the result
print("The difference between", date1_str, "and", date2_str, "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")

Enter first date (YYYY-MM-DD):  2023-01-23
Enter second date (YYYY-MM-DD):  2023-01-28

The difference between 2023-01-23 and 2023-01-28 is:
5 days, 0 hours, and 0 minutes.